<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<nb-card>
  <nb-card-header>Service Query</nb-card-header>
  <nb-card-body>
<form [formGroup]="searchForm">
  <div class="row show-grid form-group">
    <div class=".col-6 .col-md-4">
      <label>&nbsp;模块名称:
        &nbsp;<input class="form-control" formControlName="appName"/>
      </label>
    </div>
    <label>&nbsp;&nbsp;&nbsp;</label>
    <div class=".col-6 .col-md-4">
      <label>&nbsp; 接 口:
        &nbsp;<input class="form-control" formControlName="appUri"/>
      </label>
    </div>
    <label>&nbsp;&nbsp;&nbsp;</label>
    <div class=".col-6 .col-md-4">
      <label> &nbsp;日 期:
        &nbsp; <input class="form-control"
               [minDate]="minDate"
               [maxDate]="maxDate"
               #dp="bsDatepicker"
               bsDatepicker [bsValue]="bsValue"
               formControlName="date"
               [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"/>
      </label>
    </div>
  </div>
  <div class="row show-grid">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <button class="btn btn-success" (click)="queryUriByConditions()">性能查询</button>
    </div>
  </div>
</form>
  </nb-card-body>
</nb-card>
