<nb-card>
  <nb-card-header>Tasks History</nb-card-header>
  <nb-card-body>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th>Crawl Seq</th>
        <th>Users</th>
        <th>Email</th>
        <th>User Level</th>
        <th>Execute TSQL</th>
        <th>Fetch Time</th>
        <th>Finished</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
