<nb-card>
  <nb-card-header>Tasks History</nb-card-header>
  <nb-card-body>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th>Crawl Seq</th>
        <th>Users</th>
        <th>Email</th>
        <th>User Level</th>
        <th>Execute TSQL</th>
        <th>Fetch Time</th>
        <th>Finished</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks">
        <td> {{task.crawlSeq}} </td>
        <td> {{task.users}} </td>
        <td> {{task.email}} </td>
        <td> {{task.userLevel}} </td>
        <td> {{task.tsql}} </td>
        <td> {{task.fetchTime}} </td>
        <td> {{task.finished}}</td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
