
<ngx-ays-query (performanceOutLists)="revDateFromChild($event)"></ngx-ays-query>
<nb-card>
  <nb-card-header>Application Analysis</nb-card-header>
  <nb-card-body>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
  <tr>
    <th>接口</th>
    <th>区间内请求数</th>
    <th>平均相应时间(ms)</th>
    <th>max(ms)</th>
    <th>min(ms)</th>
    <th>3s以上请求数</th>
    <th>慢请求(大于3s)</th>
    <th>异常请求</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let performance of performances">
    <td> {{ performance.uri }}</td>
    <td> {{ performance.reqInPeriod }}</td>
    <td> {{ performance.avgRspTime }}</td>
    <td> {{ performance.maxRspTime }}</td>
    <td> {{ performance.minRspTime }}</td>
    <td> {{ performance.reqOver3s }}</td>
    <td>
      <div *ngFor="let kv of performance.slowTop10">
        <a target="_blank" href="{{kv.value}}">{{kv.name}}</a>
      </div>
    </td>
    <td>
      <div *ngFor="let kv of performance.exceptionTop10">
        <a target="_blank" href={{kv.value}}>{{kv.name}}</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
  </nb-card-body>
</nb-card>
