<h1>昨日请求数TOP10</h1>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
  <tr>
    <th>模块名称</th>
    <th>接口</th>
    <th>请求数</th>
    <th>详情传送门</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of baseResult.data">
    <td> {{ element.appName }} </td>
    <td> {{ element.uri }} </td>
    <td> {{ element.requests }} </td>
    <td>
      <a routerLink={{element.linkage}} [queryParams]="{'appName':element.appName,
                                                      'uri': element.uri}">传送门</a>
    </td>
  </tr>
  </tbody>
</table>
