<div>
  <nb-card>
  <h1>双向GRU加Dual Attention模型</h1>
  </nb-card>
</div>
<div>
    <nb-card>
    <img src="{{urls.source}}"/>
    </nb-card>
</div>
<div>
  <nb-card>
    <nb-card-header>Named Entity Recognition</nb-card-header>
    <nb-card-body>
      <form [formGroup]="nerForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Entity1"
              formControlName="e1" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Entity2"
              formControlName="e2"/>
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Sentence"
              formControlName="s"></textarea>
        </div>
        <button type="submit" class="btn btn-success" (click)="nerAnalysis()">Analysis</button>
      </form>
    </nb-card-body>
  </nb-card>
  <nb-card size="small">
    <nb-tabset>
      <nb-tab tabTitle="Relation Tab">
        <p>关系是：</p>
        <div *ngIf="isResponse">
           <div *ngFor="let rela of relation; let i = index">
             <p>No.{{i}}: {{rela.relation}}, Probability is {{rela.probability}} </p>
           </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>
